/*-- scss:defaults --*/

$body-bg: #181a1b;
$body-color: #e8eaed;
$link-color: #8ab4f8;
$code-bg: #242628;
$code-color: #f1f3f4;
$border-color: #3c4043;

$navbar-bg: #111315;
$navbar-fg: #e8eaed;
$navbar-hl: #ffffff;

$input-bg: #202124;
$input-color: #e8eaed;
$input-border-color: #5f6368;

$table-bg: transparent;
